services:
  web:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    image: my-web
    container_name: my-web
    ports:
      - "5173:5173"
    volumes:
      - ./frontend:/app
      - /app/node_modules
